[Desktop Entry]
Name=labelx
Comment=Image Polygonal Annotation with Python
Exec=labelx
Icon=labelx
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;
